@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: Inter;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* navigation */

.navigation {
  background-color: #0a0a0a;
  padding: 42px 0;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .navigation-menu {
} */
.menu-list {
  display: flex;
  gap: 30px;
}
/* .menu-item {
} */
.menu-link,
.phone {
  font-size: 24px;
  line-height: 29px;
  color: #717171;
}
/* .logo {
} */

/* header */

.header {
  background-color: #f5f5f7;

  margin-bottom: 87px;
  padding: 71px 0 40px 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 64px;
  line-height: 77px;
  color: #490e84;
  margin-bottom: 40px;
}
.header-img {
  margin-bottom: 25px;
}
.header-btn {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background-color: #490e84;
  padding: 22px 117px;
  border-radius: 30px;
}

/* news section */

.news {
  margin-bottom: 150px;
}

.news-title {
  font-size: 32px;
  color: #717171;
  line-height: 39px;

  text-align: center;
  margin-bottom: 50px;
}
.news-wrapper {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 30px;
}
.text-bold {
  display: block;
  /* max-width: 560px; */
  font-size: 20px;
  line-height: 29px;
}
.news-img {
  height: 400px;
  margin-left: 191px;
  /* width: 50%; */
  display: inline-block;
}

/* color section */

.color {
  margin-bottom: 150px;
}

.color-title {
  text-align: center;
  font-size: 32px;
  line-height: 39px;
  color: #717171;

  margin-bottom: 50px;
}
.color-list {
  display: flex;
  justify-content: space-between;
}
.color-list-item {
  text-align: center;
}
.color-list-img {
  margin-bottom: 20px;
}
.color-list-title {
  font-size: 20px;
  line-height: 20px;

  margin-bottom: 10px;
}
.color-list-text {
  font-size: 14px;
  line-height: 18px;
}

/* section form */

/* .contacts {
} */

.contacts-wrapper {
  background-color: #574b63;
  display: flex;
}
.contacts-form {
  width: 100%;
  text-align: center;
  padding: 137px 94px;
}
.contacts-form input {
  width: 100%;
  display: block;
  background-color: #574b63;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px 0;

  margin-bottom: 30px;
}

.contacts-form input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 18px;
  height: 28px;
}
.form-title {
  font-size: 32px;
  line-height: 39px;
  color: #fff;

  margin-bottom: 72px;
}
.form-text {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 18px;
  margin: 30px 0 30px 0;
}
.form-btn {
  color: #490e84;
  padding: 16px 81px;
  background-color: #fff;
  border-radius: 30px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 700;

  cursor: pointer;
}
.contacts-img {
  width: 50%;
}

/* footer */

.footer {
  background-color: #0a0a0a;
  padding: 42px 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-text {
  font-size: 14px;
  line-height: 18px;
  color: #717171;
}
/* media queries */

@media (max-width: 1200px) {
  .header-img {
    max-width: 100%;
  }
}

@media (max-width: 1000px) {
  .color-list {
    flex-wrap: wrap;
  }
}

@media (max-width: 940px){
  .news-img{
    display: none;
  }
  .contacts-img{
    display: none;
  }
}
